mixin cell-geozone(geozone, container)

  .cell.cell_name_geozone
    .cell__content
      .cell-icon.cell-icon_type_geozone
      p.cell-text.cell-text_type_title=geozone
    
    .cell__content
      .cell-icon.cell-icon_type_container
      p.cell-text.cell-text_type_title=container