mixin cell-params(price, square)

  .cell.cell_name_params
    .cell__content
      .cell-icon.cell-icon_type_price
      p.cell-text.cell-text_type_title=price
      
    .cell__content
      .cell-icon.cell-icon_type_square
      p.cell-text.cell-text_type_title=square
